# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages

notifications:
  email:
    recipients:
      - gabriel_odom@baylor.edu
      - melissa_johnson2@baylor.edu
      - gabriel.odom@med.miami.edu
